<html>
  <head></head>
  <body>

    <div id="container">

      <div id="inner">

        <h1 id="header">Thank you for your request again! Almost there...</h1>

        <p>
          Hello,
        </p>

        <p>
          You have requested another invite to Webistor, and we really appreciate your enthusiasm, but your previous request hasn't come through yet.
        </p>

        <p>
          We will inform you as soon as your request has been accepted :)
        </p>

        <p class="bold"> - The Webistor team</p>

      </div>

    </div>

  </body>
</html>