<html>
  <head></head>
  <body>

    <div id="container">

      <div id="inner">

        <h1 id="header">You're in!</h1>

        <p>
          You have requested an invite to Webistor, and we really appreciate your enthusiasm, but you already have an account with us!
        </p>

        <p>
          You can log in with this email address ({{user.email}}) or your username: {{user.username}}.
        </p>

        <p class="bold"> - The Webistor team</p>

      </div>

    </div>

  </body>
</html>
