<html>
  <head></head>
  <body>

    <div id="container">

      <div id="inner">

        <div id="illustration">
          <img src="http://www.webistor.net/images/mail/approved-illustration.png" alt="You're invited!" title="You're invited!">
        </div>

        <h1 id="header">Welcome! You can use Webistor now.</h1>

        <p>
          Hi, thank you for signing up for the
          <a href="http://www.webistor.net" target="_blank" class="bold">Webistor</a> private b&egrave;ta!
          You're invited to join us. Click on the button below to continue.
        </p>

        <p id="button">
          <a href="http://www.webistor.net/register/{{invitation.token}}" target="_blank">
            Create your account
          </a>
        </p>

        <p>
          We're really excited to continue to add more power to Webistor over the coming
          months for you, so I'd love to hear any thoughts you have on the direction and
          features.
        </p>

        <p>
          As with every one of our emails, just hit reply and we'll respond back right away! :)
        </p>

        <p class="bold"> - Bart and the Webistor team</p>

      </div>

    </div>

  </body>
</html>
