<html>
  <head></head>
  <body>

    <div id="container">

      <div id="inner">

        <h1 id="header">Your password reset ticket</h1>

        <p>
          The button below will allow you to create a new password. Please note that this
          particular button will only work once, and only for one hour.
        </p>

        <p class="button">
          <a href="http://www.webistor.net/password-reset/{{user.id}}/{{token}}" target="_blank">
            Create new password
          </a>
        </p>

        <hr />

        <p>
          As with every one of our emails, just hit reply and we'll respond right away! :)
        </p>

        <p class="bold"> - The Webistor team</p>

      </div>

    </div>

  </body>
</html>
