@font-face
  font-family: 'ProximaNova Regular'
  src: url("http://www.webistor.net/fonts/proximanova-regular-webfont.eot")
  src: url("http://www.webistor.net/fonts/proximanova-regular-webfont.eot?#iefix") format('embedded-opentype'), url("http://www.webistor.net/fonts/proximanova-regular-webfont.woff") format('woff'), url("http://www.webistor.net/fonts/proximanova-regular-webfont.ttf") format('truetype'), url("http://www.webistor.net/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format('svg')
  font-weight: normal
  font-style: normal

html, body
  width: 100%
  font-size: 16px
  line-height: 24px
  font-family: 'ProximaNova Regular', sans-serif

a
  color: #67737a
  text-decoration: none

  &:hover
    opacity: 0.9
    -webkit-filter: contrast(102%)

.bold
  font-weight:bold

#container
  background-color: #f8f9fa
  width: 100%

#inner
  margin: 32px auto
  width: 375px
  max-width: 98%
  background: #fff
  border: solid #dfe4e6 1px
  color: #67737a
  padding: 32px 85px 32px 85px


#header
  font-size: 20px
  font-weight: bold

#button
  text-align:center
  a
    border-radius: 2px
    display: inline-block
    background: #a0d468
    padding: 10px 22px
    color: #fff
    text-align: center
    margin: 0 auto
    font-weight: bold
    font-size: 16px
