<html>
  <head></head>
  <body>

    <div id="container">

      <div id="inner">

        <h1 id="header">Thank you for your interest, awesome person!</h1>

        <p>
          We are happy to have received your request to join Webistor! We'll get back to
          you once your request has been accepted.
        </p>

        <p>
          As with every one of our emails, just hit reply and we'll respond back right away! :)
        </p>

        <p class="bold"> - The Webistor team</p>

      </div>

    </div>

  </body>
</html>
