<html>
  <head></head>
  <body>

    <div id="container">

      <div id="inner">

        <h1 id="header">Thank you for your request, you're great!</h1>

        <p>Hello,</p>

        <p>
          We are happy to have received your request to join Webistor! We'll get back to you once your request has been accepted.
        </p>

        <p class="bold"> - The Webistor team</p>

      </div>

    </div>

  </body>
</html>
